name: Test GitBill Action

on:
    workflow_dispatch: # allows manual run

jobs:
    run-action:
        runs-on: ubuntu-latest
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # <-- this provides the token automatically
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Run GitBill Action
              uses: ./
              with:
                  hours_per_pr: 1

            - name: Upload timesheet
              uses: actions/upload-artifact@v4
              with:
                  name: timesheet
                  path: |
                      timesheet.csv
                      timesheet.json
